.main-cantainer{
    border: 1px solid rgb(95, 94, 94);
    width: 380px;
    height: 245px;
    margin: auto;
    opacity: 15px;
    box-shadow: 0 0 10px gray;
}
.box{
    width: 379px;
    height: 190px;
    border: 1px solid black;
    box-shadow: inset;
    margin: auto;  
}
.profile{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-image: url(image.jpeg2.jfif);
    background-size: cover;
}
.profile:hover{
    cursor: pointer;
    color: rgb(182, 186, 189);
}
.dec{
    margin-top: -50px;
    margin-left: 45px;
    font-size: 15px;
}
.text-light{
     opacity: 0.3;
     color: rgb(103, 104, 104);
     margin-top:-15px;
}